In [131]:
import pandas as pd
import numpy as np
from collections import Counter

In [102]:
data= pd.read_csv('tmdb-movies.csv')

In [103]:
new_df= data.replace(0,np.NaN)

In [104]:
new_df

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000.0,1.513529e+09,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124.0,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000.0,3.784364e+08,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120.0,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000.0,2.952382e+08,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119.0,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000.0,2.068178e+09,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136.0,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000.0,1.506249e+09,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137.0,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10861,21,tt0060371,0.080598,NaN,NaN,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,NaN,Bruce Brown,NaN,...,"The Endless Summer, by Bruce Brown, is one of ...",95.0,Documentary,Bruce Brown Films,6/15/66,11,7.4,1966,NaN,NaN
10862,20379,tt0060472,0.065543,NaN,NaN,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,NaN,John Frankenheimer,Cinerama sweeps YOU into a drama of speed and ...,...,Grand Prix driver Pete Aron is fired by his te...,176.0,Action|Adventure|Drama,Cherokee Productions|Joel Productions|Douglas ...,12/21/66,20,5.7,1966,NaN,NaN
10863,39768,tt0060161,0.065141,NaN,NaN,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,NaN,Eldar Ryazanov,NaN,...,An insurance agent who moonlights as a carthie...,94.0,Mystery|Comedy,Mosfilm,1/1/66,11,6.5,1966,NaN,NaN
10864,21449,tt0061177,0.064317,NaN,NaN,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,NaN,Woody Allen,WOODY ALLEN STRIKES BACK!,...,"In comic Woody Allen's film debut, he took the...",80.0,Action|Comedy,Benedict Pictures Corp.,11/2/66,22,5.4,1966,NaN,NaN
10865,22293,tt0060666,0.035919,19000.0,NaN,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74.0,Horror,Norm-Iris,11/15/66,15,1.5,1966,1.276423e+05,NaN

In [105]:
df= new_df.dropna()
df

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000.0,1.513529e+09,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124.0,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000.0,3.784364e+08,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120.0,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000.0,2.952382e+08,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119.0,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000.0,2.068178e+09,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136.0,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000.0,1.506249e+09,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137.0,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10595,253,tt0070328,1.549139,7000000.0,1.617778e+08,Live and Let Die,Roger Moore|Yaphet Kotto|Jane Seymour|Clifton ...,http://www.mgm.com/view/movie/1130/Live-and-Le...,Guy Hamilton,Roger Moore is James Bond.,...,James Bond must investigate a mysterious murde...,121.0,Adventure|Action|Thriller,Eon Productions|Metro-Goldwyn-Mayer (MGM),7/5/73,293,6.1,1973,3.437812e+07,7.945168e+08
10689,660,tt0059800,1.910465,11000000.0,1.411957e+08,Thunderball,Sean Connery|Claudine Auger|Adolfo Celi|Lucian...,http://www.mgm.com/view/movie/2009/Thunderball/,Terence Young,Look up! Look down! Look out!,...,A criminal organization has obtained two nucle...,130.0,Adventure|Action|Thriller,Eon Productions|Metro-Goldwyn-Mayer (MGM),12/16/65,331,6.3,1965,7.612620e+07,9.771535e+08
10724,668,tt0064757,1.778746,7000000.0,8.197449e+07,On Her Majesty's Secret Service,George Lazenby|Diana Rigg|Telly Savalas|Gabrie...,http://www.mgm.com/view/movie/1411/On-Her-Maje...,Peter R. Hunt,Far up! Far out! Far more! James Bond 007 is b...,...,James Bond tracks archnemesis Ernst Blofeld to...,142.0,Adventure|Action|Thriller,Eon Productions|Metro-Goldwyn-Mayer (MGM)|Danjaq,12/12/69,258,6.4,1969,4.160985e+07,4.872780e+08
10759,948,tt0077651,1.198849,300000.0,7.000000e+07,Halloween,Donald Pleasence|Jamie Lee Curtis|P.J. Soles|N...,http://www.theofficialjohncarpenter.com/hallow...,John Carpenter,The Night HE Came Home!,...,"A psychotic murderer, institutionalized since ...",91.0,Horror|Thriller,Compass International Pictures|Falcon Internat...,10/25/78,522,7.3,1978,1.002810e+06,2.339890e+08
10760,8469,tt0077975,1.157930,2700000.0,1.410000e+08,Animal House,John Belushi|Tim Matheson|John Vernon|Verna Bl...,http://www.animalhouse.com/,John Landis,It was the Deltas against the rules... the rul...,...,"At a 1962 College, Dean Vernon Wormer is deter...",109.0,Comedy,Universal Pictures|Oregon Film Factory|Stage I...,7/27/78,230,6.7,1978,9.025292e+06,4.713208e+08

# 1) Which are the movies with the third-lowest and third-highest budget?

In [106]:
o1=df[["original_title","budget"]]

In [107]:
o1

                        original_title       budget
0                       Jurassic World  150000000.0
1                   Mad Max: Fury Road  150000000.0
2                            Insurgent  110000000.0
3         Star Wars: The Force Awakens  200000000.0
4                            Furious 7  190000000.0
...                                ...          ...
10595                 Live and Let Die    7000000.0
10689                      Thunderball   11000000.0
10724  On Her Majesty's Secret Service    7000000.0
10759                        Halloween     300000.0
10760                     Animal House    2700000.0

[1287 rows x 2 columns]

# Answer
## i)

In [108]:
o2=o1.sort_values("budget",ascending=True)
o2.iloc[2]

original_title    The Hunt for Red October
budget                                  30
Name: 9992, dtype: object

In [109]:
o3=o1.sort_values("budget",ascending=False)
o3.iloc[2]

original_title    Pirates of the Caribbean: At World's End
budget                                               3e+08
Name: 7387, dtype: object

# 2)  What is the average number of words in movie titles between the years 2000-2005?

In [110]:
o4=df[["original_title","release_year"]]

In [111]:
o5=o4[ (o4["release_year"]>=2000) & (o4["release_year"] <= 2005) ]

In [112]:
o6=o5["original_title"].str.count(' ')+1

In [113]:
o6.mean()

2.7777777777777777

# 3) What is the most common Genre for Vin Diesel & Emma Watson movies?

In [127]:
def fil(a):
  #a=a.split('|')
  try:
    if 'Vin Diesel'in a :
      return True
    else:
      return False
  except:
    return False

In [128]:
d=df.cast.str.split('|').apply(fil)
data3_vin=df[d]
len(df[d])

13

In [132]:
temp_vin="|".join(data3_vin.genres)
temp_vin

'Action|Crime|Thriller|Fantasy|Action|Adventure|Action|Science Fiction|Adventure|Action|Crime|Drama|Thriller|Crime|Thriller|Action|Adventure|Science Fiction|Thriller|Action|Thriller|Crime|Action|Drama|Science Fiction|Action|Thriller|Action|Thriller|Crime|Action|Comedy|Drama|Family|Thriller|Adventure|Action|Thriller|Science Fiction|Thriller|Science Fiction|Action'

In [133]:
ans_3_a=Counter(temp_vin.split('|')).most_common(6)
ans_3_a=[*dict(ans_3_a)]
ans_3_a

['Action', 'Thriller', 'Crime', 'Science Fiction', 'Adventure', 'Drama']

In [134]:
def fill(a):
  #a=a.split('|')
  try:
    if 'Emma Watson'in a :
      return True
    else:
      return False
  except:
    return False

In [135]:
d2=df.cast.str.split('|').apply(fill)
data3_emma=df[d2]
len(data3_emma)

9

In [136]:
data3_emma.head(3)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
686,86834,tt1959490,2.526779,125000000.0,362637473.0,Noah,Russell Crowe|Jennifer Connelly|Emma Watson|Lo...,http://www.noahmovie.com,Darren Aronofsky,The end of the world is just the beginning.,...,A man who suffers visions of an apocalyptic de...,139.0,Drama|Adventure,Paramount Pictures|Regency Enterprises|Protozo...,3/20/14,1589,5.5,2014,1.151364e+08,3.340221e+08
1389,767,tt0417741,5.076472,250000000.0,933959197.0,Harry Potter and the Half-Blood Prince,Daniel Radcliffe|Rupert Grint|Emma Watson|Tom ...,http://harrypotter.warnerbros.com/harrypottera...,David Yates,Dark Secrets Revealed,...,"As Harry begins his sixth year at Hogwarts, he...",153.0,Adventure|Fantasy|Family,Warner Bros.|Heyday Films,7/7/09,3220,7.3,2009,2.541001e+08,9.492765e+08
1923,12444,tt0926084,4.840588,250000000.0,954305868.0,Harry Potter and the Deathly Hallows: Part 1,Daniel Radcliffe|Emma Watson|Rupert Grint|Ralp...,http://www.harrypotter.com,David Yates,One Wayâ€¦ One Fateâ€¦ One Hero.,...,"Harry, Ron and Hermione walk away from their l...",146.0,Adventure|Fantasy|Family,Warner Bros.|Heyday Films,10/17/10,3467,7.4,2010,2.500000e+08,9.543059e+08

In [137]:
temp_emma="|".join(data3_emma.genres)
temp_emma

'Drama|Adventure|Adventure|Fantasy|Family|Adventure|Fantasy|Family|Adventure|Fantasy|Family|Animation|Comedy|Family|Adventure|Family|Fantasy|Drama|Romance|Adventure|Fantasy|Family|Adventure|Fantasy|Family|Mystery'

In [138]:
ans_3_b=Counter(temp_emma.split('|')).most_common(6)
ans_3_b=[*dict(ans_3_b)]
ans_3_b

['Adventure', 'Family', 'Fantasy', 'Drama', 'Animation', 'Comedy']

In [145]:
print("The Most common Genres between Emma Watson and Vin Diesel are :"," and  ".join(list(set(ans_3_a).intersection(set(ans_3_b)))))

The Most common Genres between Emma Wayson and Vin Diesel are : Adventure and  Drama

# 4) Which are the movies with the most and least earned revenue?

In [118]:
ot1= df[["original_title","revenue"]]
ot1

                        original_title       revenue
0                       Jurassic World  1.513529e+09
1                   Mad Max: Fury Road  3.784364e+08
2                            Insurgent  2.952382e+08
3         Star Wars: The Force Awakens  2.068178e+09
4                            Furious 7  1.506249e+09
...                                ...           ...
10595                 Live and Let Die  1.617778e+08
10689                      Thunderball  1.411957e+08
10724  On Her Majesty's Secret Service  8.197449e+07
10759                        Halloween  7.000000e+07
10760                     Animal House  1.410000e+08

[1287 rows x 2 columns]

## The Movie with the least earned revenue :

In [119]:
ot1=ot1.sort_values("revenue",ascending=True)
ot1.iloc[0]

original_title    Boy
revenue            43
Name: 2398, dtype: object

## The movie with the most earned revenue :

In [120]:
ott=ot1.sort_values("revenue",ascending=False)
ott.iloc[0]

original_title         Avatar
revenue           2.78151e+09
Name: 1386, dtype: object

# 5) What is the average runtime of movies in the year 2006?

In [124]:
m1=df[df.release_year == 2006].runtime.mean()

In [126]:
print("The Answer is ",m1)

The Answer is  111.95588235294117